@import '@/assets/styles/animations.scss';

.profile {
  padding: 2rem 0;
  @include flex-center;
  flex-direction: column;
  .headshot {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url('@/assets/images/headshot.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include flex-center;
    box-shadow: -0.9rem 0.3rem 0 $light-cyan;
  }
  .container {
    @include flex-center;
    flex-direction: column;
    .name {
      margin: 1.5rem 0 1rem 0;
      font-size: 2rem;
      font-weight: 700;
      color: $yale-blue;
      user-select: text;
    }
    .badge {
      padding: 0.5rem 1rem;
      border-radius: 5rem;
      font-family: 'Titillium Web';
      font-size: 0.9rem;
      font-weight: 600;
      &.lightBlue {
        background-color: $light-cyan;
        color: $air-superiority-blue;
      }
      &.deepBlue {
        margin-top: 1.5rem;
        background-color: $maximum-blue;
        color: $white;
        cursor: pointer;
      }
    }
    .contactBlock {
      margin: 0.5rem 0 1.5rem 0;
      @include flex-center;
      .link {
        margin: 0 0.4rem;
        font-size: 1.4rem;
        color: $maximum-blue;
        cursor: pointer;
        &:hover {
          animation: shake 0.5s infinite;
        }
      }
    }
    .infoBlock {
      width: 100%;
      .infoItem {
        margin: 0.25rem 0;
        font-family: 'Titillium Web';
        font-size: 1rem;
        color: $air-superiority-blue;
        @include flex-center;
        justify-content: flex-start;
        p {
          user-select: text;
          &.chinese {
            font-family: 'Noto Sans TC';
          }
        }
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.8rem;
          @include flex-center;
        }
      }
    }
  }
}
