.tagsList {
  .bannerImgContainer {
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    .bannerImg {
      border-radius: 10px;
    }
    .text {
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      padding: 1rem 0;
    }
  }
}
