.contactForm {
  width: 100%;
  text-align: right;
  .input {
    &::placeholder {
      font-family: 'Titillium Web';
    }
  }
  .submitButton {
    border: 0;
    background-color: rgba($carrot-orange, 0.7);
    font-family: 'Titillium Web';
    color: $white;
    &:hover {
      background-color: $carrot-orange;
    }
  }
}
