.header {
  position: relative;
  .menu {
    width: 4rem;
    height: 4rem;
    border-radius: 50% 0 50% 50%;
    background-color: $yale-blue;
    @include flex-center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    box-shadow: 0 1.2rem 2.2rem rgba($black, 0.1), 0 0.5rem 1rem rgba($black, 0.1);
    visibility: hidden;
    pointer-events: none;
    @media screen and (max-width: 768px) {
      visibility: visible;
      pointer-events: auto;
    }
    .container {
      cursor: pointer;
      &.active {
        .hamburger {
          &:before, &:after {
            top: 0;
            transition: top 0.3s $hamburger-squash, transform 0.3s 0.3s $hamburger-squash;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
          .line {
            opacity: 0;
          }
        }
      }
      .hamburger {
        @include flex-center;
        position: relative;
        &:before, &:after, .line {
          width: 2rem;
          height: 0.2rem;
          background-color: $carrot-orange;
        }
        &:before, &:after {
          content: '';
          position: absolute;
          transition: top 0.3s 0.3s $hamburger-squash, transform 0.3s $hamburger-squash;
        }
        &:before {
          top: -0.7rem;
        }
        &:after {
          top: 0.7rem;
        }
      }
    }
  }
  .navigationBar {
    max-width: 1264px;
    background-color: transparent;
    @include flex-center;
    align-items: flex-end;
    &.vertical {
      .container {
        width: 100%;
        height: 100%;
        background-color: $light-cyan;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        &:before {
          background-image: none;
          display: none;
        }
        .navigationItem {
          margin-bottom: 1rem;
          font-size: 1.7rem;
          &.active {
            background-color: transparent;
            color: $carrot-orange;
          }
        }
      }
    }
    &.hidden {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .container {
      width: 28rem;
      padding-top: 1rem;
      border-radius: 0 3rem 0 0;
      background-color: $white;
      @include flex-center;
      position: relative;
      &:before {
        content: '';
        width: 7.8rem;
        height: 100%;
        background-image: url('@/assets/images/navigation-bar-edge.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 99%;
        z-index: 0;
      }
      .navigationItem {
        margin-right: 0.4rem;
        padding: 0.6rem 1rem;
        background-color: transparent;
        font-family: 'Titillium Web';
        font-size: 1.2rem;
        font-weight: 300;
        color: $yale-blue;
        &.active {
          border-radius: 1rem;
          background-color: $maximum-blue;
          color: $white;
        }
      }
    }
  }
}
