// ========================================
//      Colors
// ================================================================================
$black: #000;
$white: #FFF;

$carrot-orange : #F18F01;
$yale-blue: #124E78;
$ming: #006D77;
$maximum-blue: #41BBD9;
$air-superiority-blue: #6CA6C1;
$light-cyan: #D7F9FF;

// =======

// $jet: #343434;
// $mint-cream: #F7FFF7;

// $middle-blue-green: #83C5BE;
// $alice-blue: #EDF6F9;
// $unbleached-silk: #FFDDD2;
// $dark-salmon: #E29578;

// $space-cadet: #2F3061;
// $naples-yellow: #FFE66D;

// $baby-blue-eyes: #AFCBFF;
// $oxford-blue: #0E1C36;

// --------------------
//      Border
// ----------------------------------------

// --------------------
//      Background
// ----------------------------------------

// --------------------
//      Text
// ----------------------------------------

// ========================================
//      Mixins
// ================================================================================
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
